body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: rgb(22, 22, 22)
}

header {
    background-color: black;
    padding: 0;
    margin: 0;
    color: white;   
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
 
li {
    display: inline-block;
    opacity: 0.5;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    transition: opacity 0.5s;
}

li:hover {
    opacity: 1;
}

img.logo {
    width: 60px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    border-radius: 100%;
}

p {
    font-size: 50px;
    margin-top: 30pxpx;
    margin-left: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}


h3 a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color:rgb(43, 43, 43);    
    font-size: 30px;
}

h3 a:hover {
    color: rgb(0, 0, 0);
}

header a {
    font-size: ;
    text-decoration: none;
    text-transform: uppercase;
    color:  white;
}

section {
    padding-top: 15px;
    display: flexblock;
    background-color: rgb(77, 77, 77);
}

section img {
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    margin-top: 15px;
    height: 100px;
    opacity: 0.5;
    transition: 0.5s;
}

section img:hover {
    opacity: 1;
    height: 110px;
}

h1 {
    font-size: 40px;
    padding-left: 15px;
    margin: 0;
    color: white;
}

h3 {
    padding-left: 15px;
    padding-right: 30px;
    margin-top: 10px;
    height: 100px;
    font-size: 30px;
}

section section img {
    padding-left: 15px;
    padding-top: 15px;
    height: 100px;
    border-radius: 150%;
    opacity: 0.75;
    transition: height 1s;
}

section section img:hover {
    opacity: 1;
    height: 110px;
}

.socialmedia {
    padding-bottom: 20px;
}

.socialmedianames {
    margin-top: 10px;
    display: flex;
}

.socialmedianames h1 {
    font-size: 20px;
    padding-right: 20px;
    color: rgb(39, 39, 39);
}

.socialmedianames h1.ytlogo {
    font-size: 20px;
    margin-left: 18px;
}

.socialmedianames h1:last-child {
    margin-left: 15px;
}

.software {
    margin-top: 100px;
}